# ğŸš€ Live Coding: Polars vs Pandas with Real French Cities Data

## Setup: The Database Connection Battle

In [3]:
# First, let's see the traditional pandas way
import pandas as pd
import polars as pl
from pathlib import Path
import time

# Your database path
p_departement = Path.cwd().parent / "data" / "villes_france.db"
connection_string = f"sqlite:///{p_departement}"

# Let's time both approaches!

---

## Round 1: Loading Data - Who's Faster? âš¡

In [8]:
# PANDAS: The old reliable
start = time.time()
df_pandas = pd.read_sql("""
    SELECT v.*, d.departement_nom 
    FROM villes v
    LEFT JOIN departement d ON v.department = d.departement_code
""", connection_string)
pandas_load_time = time.time() - start
print(f"ğŸ¼ Pandas load time: {pandas_load_time:.3f}s")
print(f"Shape: {df_pandas.shape}")

ğŸ¼ Pandas load time: 0.119s
Shape: (36700, 8)

In [9]:
# POLARS: The challenger

from sqlalchemy import create_engine

# Create SQLAlchemy engine
engine = create_engine(connection_string)


start = time.time()
df_polars = pl.read_database("""
    SELECT v.*, d.departement_nom 
    FROM villes v
    LEFT JOIN departement d ON v.department = d.departement_code
""", engine)
polars_load_time = time.time() - start
print(f"ğŸ¦€ Polars load time: {polars_load_time:.3f}s")
print(f"Shape: {df_polars.shape}")
print(f"\nâš¡ Polars is {pandas_load_time/polars_load_time:.1f}x faster!")

ğŸ¦€ Polars load time: 0.066s
Shape: (36700, 8)

âš¡ Polars is 1.8x faster!

---

## Round 2: Data Exploration - Cleaner Syntax Wins ğŸ¯

### Quick peek at our data

In [11]:
# PANDAS way
print("PANDAS APPROACH:")
df_pandas.head()

PANDAS APPROACH:

,id,department,name,simple_name,population_2012,surface,commune_code,departement_nom
0,1,01,OZAN,ozan,500,6.60,01284,Ain
1,2,01,CORMORANCHE-SUR-SAONE,cormoranche sur saone,1000,9.85,01123,Ain
2,3,01,PLAGNE,plagne,100,6.20,01298,Ain
3,4,01,TOSSIAT,tossiat,1400,10.17,01422,Ain
4,5,01,POUILLAT,pouillat,100,6.23,01309,Ain

In [12]:
# POLARS way - notice the better display!
print("POLARS APPROACH:")
df_polars.head()

POLARS APPROACH:

shape: (5, 8)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ id  â”† department â”† name        â”† simple_name â”† population_ â”† surface â”† commune_cod â”† departement â”‚
â”‚ --- â”† ---        â”† ---         â”† ---         â”† 2012        â”† ---     â”† e           â”† _nom        â”‚
â”‚ i64 â”† str        â”† str         â”† str         â”† ---         â”† f64     â”† ---         â”† ---         â”‚
â”‚     â”†            â”†             â”†             â”† i64         â”†         â”† str         â”† str         â”‚
â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 1   â”† 01         â”† OZAN        â”† ozan        â”† 500         â”† 6.6     â”† 01284       â”† Ain         â”‚
â”‚ 2   â”† 01         â”† CORMORANCHE â”† cormoranche â”† 1000        â”† 9.85    â”† 01123       â”† Ain         â”‚
â”‚     â”†            â”† -SUR-SAONE  â”† sur saone   â”†             â”†         â”†             â”†             â”‚
â”‚ 3   â”† 01         â”† PLAGNE      â”† plagne      â”† 100         â”† 6.2     â”† 01298       â”† Ain         â”‚
â”‚ 4   â”† 01         â”† TOSSIAT     â”† tossiat     â”† 1400        â”† 10.17   â”† 01422       â”† Ain         â”‚
â”‚ 5   â”† 01         â”† POUILLAT    â”† pouillat    â”† 100         â”† 6.23    â”† 01309       â”† Ain         â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [13]:
print(f"\nSchema: {df_polars.schema}")

Schema: Schema([('id', Int64), ('department', String), ('name', String), ('simple_name', String), ('population_2012', Int64), ('surface', Float64), ('commune_code', String), ('departement_nom', String)])

### Let's find the biggest cities in France

In [15]:
# PANDAS: Multiple ways, all slightly awkward
biggest_pandas = df_pandas.nlargest(10, 'population_2012')[['name', 'departement_nom', 'population_2012']]
print("Top 10 cities (Pandas):")
biggest_pandas

Top 10 cities (Pandas):

              name   departement_nom  population_2012
30437        PARIS             Paris          2211000
4439     MARSEILLE  Bouches-du-RhÃ´ne           851400
28152         LYON             RhÃ´ne           474900
11718     TOULOUSE     Haute-Garonne           439600
2049          NICE   Alpes-Maritimes           344900
16755       NANTES  Loire-Atlantique           283300
27303   STRASBOURG          Bas-Rhin           272100
13338  MONTPELLIER           HÃ©rault           253000
12678     BORDEAUX           Gironde           235900
22744        LILLE              Nord           225800

In [16]:
# POLARS: Clean, expressive, SQL-like
biggest_polars = (
    df_polars
    .sort('population_2012', descending=True)
    .head(10)
    .select(['name', 'departement_nom', 'population_2012'])
)
print("Top 10 cities (Polars):")
biggest_polars

Top 10 cities (Polars):

shape: (10, 3)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ name        â”† departement_nom  â”† population_2012 â”‚
â”‚ ---         â”† ---              â”† ---             â”‚
â”‚ str         â”† str              â”† i64             â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ PARIS       â”† Paris            â”† 2211000         â”‚
â”‚ MARSEILLE   â”† Bouches-du-RhÃ´ne â”† 851400          â”‚
â”‚ LYON        â”† RhÃ´ne            â”† 474900          â”‚
â”‚ TOULOUSE    â”† Haute-Garonne    â”† 439600          â”‚
â”‚ NICE        â”† Alpes-Maritimes  â”† 344900          â”‚
â”‚ NANTES      â”† Loire-Atlantique â”† 283300          â”‚
â”‚ STRASBOURG  â”† Bas-Rhin         â”† 272100          â”‚
â”‚ MONTPELLIER â”† HÃ©rault          â”† 253000          â”‚
â”‚ BORDEAUX    â”† Gironde          â”† 235900          â”‚
â”‚ LILLE       â”† Nord             â”† 225800          â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

---

## Round 3: Complex Analytics - Where Polars Shines âœ¨

### Calculate population density and find urban hotspots

In [17]:
# PANDAS: Watch the memory and CPU struggle
start = time.time()
df_pandas['density'] = df_pandas['population_2012'] / df_pandas['surface']
df_pandas['is_urban'] = df_pandas['density'] > 1000
urban_pandas = df_pandas[df_pandas['is_urban']].copy()
urban_by_dept_pandas = (
    urban_pandas
    .groupby('departement_nom')
    .agg({
        'name': 'count',
        'population_2012': 'sum',
        'density': 'mean'
    })
    .rename(columns={'name': 'urban_cities_count'})
    .sort_values('urban_cities_count', ascending=False)
)
pandas_time = time.time() - start
print(f"ğŸ¼ Pandas time: {pandas_time:.3f}s")
print(urban_by_dept_pandas.head(10))

ğŸ¼ Pandas time: 0.004s
                   urban_cities_count  population_2012       density
departement_nom
Nord                               70          1435000   2499.149674
Yvelines                           53           992400   2842.373926
Essonne                            52           907400   2818.847389
Val-d'oise                         47           955500   3570.892782
Pas-de-Calais                      44           609200   1837.662018
Val-de-Marne                       44          1300600   7185.867394
Seine-Saint-Denis                  40          1506600   7401.078031
Seine-et-Marne                     40           624400   2060.365972
RhÃ´ne                              38          1209900   2466.024180
Hauts-de-Seine                     35          1547900  10825.816409

In [18]:
# POLARS: Multi-threaded, lazy evaluation magic
start = time.time()
urban_by_dept_polars = (
    df_polars
    .with_columns(
        (pl.col('population_2012') / pl.col('surface')).alias('density')
    )
    .filter(pl.col('density') > 1000)
    .group_by('departement_nom')
    .agg([
        pl.len().alias('urban_cities_count'),
        pl.col('population_2012').sum().alias('total_urban_pop'),
        pl.col('density').mean().alias('avg_density')
    ])
    .sort('urban_cities_count', descending=True)
)
polars_time = time.time() - start
print(f"ğŸ¦€ Polars time: {polars_time:.3f}s")
print(f"âš¡ {pandas_time/polars_time:.1f}x faster!\n")
print(urban_by_dept_polars.head(10))

ğŸ¦€ Polars time: 0.001s
âš¡ 3.1x faster!

shape: (10, 4)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ departement_nom   â”† urban_cities_count â”† total_urban_pop â”† avg_density  â”‚
â”‚ ---               â”† ---                â”† ---             â”† ---          â”‚
â”‚ str               â”† u32                â”† i64             â”† f64          â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Nord              â”† 70                 â”† 1435000         â”† 2499.149674  â”‚
â”‚ Yvelines          â”† 53                 â”† 992400          â”† 2842.373926  â”‚
â”‚ Essonne           â”† 52                 â”† 907400          â”† 2818.847389  â”‚
â”‚ Val-d'oise        â”† 47                 â”† 955500          â”† 3570.892782  â”‚
â”‚ Val-de-Marne      â”† 44                 â”† 1300600         â”† 7185.867394  â”‚
â”‚ Pas-de-Calais     â”† 44                 â”† 609200          â”† 1837.662018  â”‚
â”‚ Seine-et-Marne    â”† 40                 â”† 624400          â”† 2060.365972  â”‚
â”‚ Seine-Saint-Denis â”† 40                 â”† 1506600         â”† 7401.078031  â”‚
â”‚ RhÃ´ne             â”† 38                 â”† 1209900         â”† 2466.02418   â”‚
â”‚ Hauts-de-Seine    â”† 35                 â”† 1547900         â”† 10825.816409 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

---

## Round 4: Window Functions - SQL Power in Python ğŸ’ª

### Rank cities within each department

In [19]:
# PANDAS: Painful syntax, slow execution
start = time.time()
df_pandas['rank_in_dept'] = df_pandas.groupby('department')['population_2012'].rank(method='dense', ascending=False)
df_pandas['pct_of_dept_pop'] = df_pandas.groupby('department')['population_2012'].transform(lambda x: x / x.sum() * 100)
top_cities_pandas = df_pandas[df_pandas['rank_in_dept'] <= 3].sort_values(['department', 'rank_in_dept'])
pandas_window_time = time.time() - start
print(f"ğŸ¼ Pandas window operations: {pandas_window_time:.3f}s")

ğŸ¼ Pandas window operations: 0.022s

In [20]:
# POLARS: SQL-like window functions, blazing fast
start = time.time()
top_cities_polars = (
    df_polars
    .with_columns([
        pl.col('population_2012')
            .rank(method='dense', descending=True)
            .over('department')
            .alias('rank_in_dept'),
        (pl.col('population_2012') / pl.col('population_2012').sum().over('department') * 100)
            .alias('pct_of_dept_pop')
    ])
    .filter(pl.col('rank_in_dept') <= 3)
    .sort(['department', 'rank_in_dept'])
    .select(['department', 'departement_nom', 'name', 'population_2012', 'rank_in_dept', 'pct_of_dept_pop'])
)
polars_window_time = time.time() - start
print(f"ğŸ¦€ Polars window operations: {polars_window_time:.3f}s")
print(f"âš¡ {pandas_window_time/polars_window_time:.1f}x faster!\n")
print(top_cities_polars.head(15))

ğŸ¦€ Polars window operations: 0.002s
âš¡ 8.9x faster!

shape: (15, 6)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ department â”† departement_nom â”† name            â”† population_2012 â”† rank_in_dept â”† pct_of_dept_po â”‚
â”‚ ---        â”† ---             â”† ---             â”† ---             â”† ---          â”† p              â”‚
â”‚ str        â”† str             â”† str             â”† i64             â”† u32          â”† ---            â”‚
â”‚            â”†                 â”†                 â”†                 â”†              â”† f64            â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 01         â”† Ain             â”† BOURG-EN-BRESSE â”† 40200           â”† 1            â”† 6.910779       â”‚
â”‚ 01         â”† Ain             â”† OYONNAX         â”† 23100           â”† 2            â”† 3.971119       â”‚
â”‚ 01         â”† Ain             â”† AMBERIEU-EN-BUG â”† 12800           â”† 3            â”† 2.200447       â”‚
â”‚            â”†                 â”† EY              â”†                 â”†              â”†                â”‚
â”‚ 02         â”† Aisne           â”† SAINT-QUENTIN   â”† 56800           â”† 1            â”† 10.514624      â”‚
â”‚ 02         â”† Aisne           â”† SOISSONS        â”† 28500           â”† 2            â”† 5.275824       â”‚
â”‚ â€¦          â”† â€¦               â”† â€¦               â”† â€¦               â”† â€¦            â”† â€¦              â”‚
â”‚ 04         â”† Alpes-de-Haute- â”† DIGNE-LES-BAINS â”† 17300           â”† 2            â”† 10.949367      â”‚
â”‚            â”† Provence        â”†                 â”†                 â”†              â”†                â”‚
â”‚ 04         â”† Alpes-de-Haute- â”† SISTERON        â”† 7300            â”† 3            â”† 4.620253       â”‚
â”‚            â”† Provence        â”†                 â”†                 â”†              â”†                â”‚
â”‚ 05         â”† Hautes-Alpes    â”† GAP             â”† 38600           â”† 1            â”† 28.827483      â”‚
â”‚ 05         â”† Hautes-Alpes    â”† BRIANCON        â”† 11600           â”† 2            â”† 8.663181       â”‚
â”‚ 05         â”† Hautes-Alpes    â”† EMBRUN          â”† 6300            â”† 3            â”† 4.705004       â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

---

## Round 5: Advanced Aggregations - Multiple Stats at Once ğŸ“Š

### Department statistics: the full picture

In [21]:
# PANDAS: Multiple aggregations, messy syntax
start = time.time()
dept_stats_pandas = df_pandas.groupby('departement_nom').agg({
    'population_2012': ['sum', 'mean', 'std', 'median'],
    'surface': ['sum', 'mean'],
    'name': 'count'
}).round(2)
dept_stats_pandas.columns = ['_'.join(col).strip() for col in dept_stats_pandas.columns.values]
dept_stats_pandas = dept_stats_pandas.rename(columns={'name_count': 'city_count'})
pandas_agg_time = time.time() - start
print(f"ğŸ¼ Pandas aggregation time: {pandas_agg_time:.3f}s")
print(dept_stats_pandas.head())

ğŸ¼ Pandas aggregation time: 0.009s
                         population_2012_sum  population_2012_mean  \
departement_nom
Ain                                   581700               1388.31
Aisne                                 540200                662.01
Allier                                343100               1072.19
Alpes-Maritimes                      1083900               6649.69
Alpes-de-Haute-Provence               158000                790.00

                         population_2012_std  population_2012_median  \
departement_nom
Ain                                  2738.89                   700.0
Aisne                                2622.47                   300.0
Allier                               3108.20                   400.0
Alpes-Maritimes                     28915.29                   800.0
Alpes-de-Haute-Provence              2172.95                   200.0

                         surface_sum  surface_mean  city_count
departement_nom
Ain                          5762.39         13.75         419
Aisne                        7369.12          9.03         816
Allier                       7340.11         22.94         320
Alpes-Maritimes              4298.58         26.37         163
Alpes-de-Haute-Provence      6925.22         34.63         200

In [22]:
# POLARS: Clean, expressive, parallel execution
start = time.time()
dept_stats_polars = (
    df_polars
    .group_by('departement_nom')
    .agg([
        pl.len().alias('city_count'),
        pl.col('population_2012').sum().alias('total_population'),
        pl.col('population_2012').mean().alias('avg_population'),
        pl.col('population_2012').std().alias('std_population'),
        pl.col('population_2012').median().alias('median_population'),
        pl.col('surface').sum().alias('total_surface'),
        pl.col('surface').mean().alias('avg_surface'),
        # Bonus: custom expressions!
        (pl.col('population_2012').max() - pl.col('population_2012').min()).alias('pop_range'),
        pl.col('population_2012').quantile(0.9).alias('p90_population')
    ])
    .sort('total_population', descending=True)
)
polars_agg_time = time.time() - start
print(f"ğŸ¦€ Polars aggregation time: {polars_agg_time:.3f}s")
print(f"âš¡ {pandas_agg_time/polars_agg_time:.1f}x faster!\n")
print(dept_stats_polars.head())

ğŸ¦€ Polars aggregation time: 0.001s
âš¡ 6.4x faster!

shape: (5, 10)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ departeme â”† city_coun â”† total_pop â”† avg_popul â”† â€¦ â”† total_sur â”† avg_surfa â”† pop_range â”† p90_popu â”‚
â”‚ nt_nom    â”† t         â”† ulation   â”† ation     â”†   â”† face      â”† ce        â”† ---       â”† lation   â”‚
â”‚ ---       â”† ---       â”† ---       â”† ---       â”†   â”† ---       â”† ---       â”† i64       â”† ---      â”‚
â”‚ str       â”† u32       â”† i64       â”† f64       â”†   â”† f64       â”† f64       â”†           â”† f64      â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•¡
â”‚ Nord      â”† 650       â”† 2565600   â”† 3947.0769 â”† â€¦ â”† 5742.75   â”† 8.835     â”† 225800    â”† 7900.0   â”‚
â”‚           â”†           â”†           â”† 23        â”†   â”†           â”†           â”†           â”†          â”‚
â”‚ Paris     â”† 1         â”† 2211000   â”† 2.211e6   â”† â€¦ â”† 105.4     â”† 105.4     â”† 0         â”† 2.211e6  â”‚
â”‚ Bouches-d â”† 119       â”† 1965400   â”† 16515.966 â”† â€¦ â”† 5087.49   â”† 42.752017 â”† 851300    â”† 20200.0  â”‚
â”‚ u-RhÃ´ne   â”†           â”†           â”† 387       â”†   â”†           â”†           â”†           â”†          â”‚
â”‚ RhÃ´ne     â”† 293       â”† 1690700   â”† 5770.3071 â”† â€¦ â”† 3249.12   â”† 11.089147 â”† 474800    â”† 8300.0   â”‚
â”‚           â”†           â”†           â”† 67        â”†   â”†           â”†           â”†           â”†          â”‚
â”‚ Hauts-de- â”† 36        â”† 1549600   â”† 43044.444 â”† â€¦ â”† 175.61    â”† 4.878056  â”† 110500    â”† 83700.0  â”‚
â”‚ Seine     â”†           â”†           â”† 444       â”†   â”†           â”†           â”†           â”†          â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

---

## Round 6: Lazy Evaluation - The Game Changer ğŸ®

### Building a complex query without executing

In [23]:
# This is where Polars truly shines - build your entire pipeline first!

# Create a lazy frame from our data
lazy_df = df_polars.lazy()

# Build a complex analytical pipeline
analysis = (
    lazy_df
    # Add computed columns
    .with_columns([
        (pl.col('population_2012') / pl.col('surface')).alias('density'),
        pl.col('department').str.starts_with('97').alias('is_overseas'),
        pl.col('population_2012').log10().alias('log_population')
    ])
    # Filter for interesting cities
    .filter(
        (pl.col('population_2012') > 5000) & 
        (pl.col('density') > 100)
    )
    # Add rankings
    .with_columns([
        pl.col('population_2012').rank(descending=True).alias('national_rank'),
        pl.col('density').rank(descending=True).over('department').alias('dept_density_rank')
    ])
    # Select and reorder
    .select([
        'department',
        'departement_nom', 
        'name',
        'population_2012',
        'density',
        'national_rank',
        'dept_density_rank',
        'is_overseas'
    ])
    .sort('national_rank')
)

# Nothing has been computed yet! Let's see the optimized plan:
print("QUERY PLAN (what Polars will actually execute):")
print(analysis.explain())

QUERY PLAN (what Polars will actually execute):
SORT BY [col("national_rank")]
  simple Ï€ 8/8 ["department", ... 7 other columns]
     WITH_COLUMNS:
     [col("population_2012").rank().alias("national_rank"), col("density").rank().over([col("department")]).alias("dept_density_rank")]
      FILTER [(col("density")) > (100.0)]
      FROM
         WITH_COLUMNS:
         [[(col("population_2012").cast(Float64)) / (col("surface"))].alias("density"), col("department").str.starts_with(["97"]).alias("is_overseas")]
          FILTER [(col("population_2012")) > (5000)]
          FROM
            DF ["id", "department", "name", "simple_name", ...]; PROJECT["department", "departement_nom", "name", "population_2012", ...] 5/8 COLUMNS

In [24]:
# Now execute the optimized query
start = time.time()
result = analysis.collect()
execution_time = time.time() - start
print(f"\nâš¡ Executed entire pipeline in {execution_time:.3f}s")
print(f"Result shape: {result.shape}")
print(result.head(20))

âš¡ Executed entire pipeline in 0.001s
Result shape: (1935, 8)
shape: (20, 8)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ department â”† departemen â”† name       â”† populatio â”† density   â”† national_ â”† dept_dens â”† is_overse â”‚
â”‚ ---        â”† t_nom      â”† ---        â”† n_2012    â”† ---       â”† rank      â”† ity_rank  â”† as        â”‚
â”‚ str        â”† ---        â”† str        â”† ---       â”† f64       â”† ---       â”† ---       â”† ---       â”‚
â”‚            â”† str        â”†            â”† i64       â”†           â”† f64       â”† f64       â”† bool      â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 75         â”† Paris      â”† PARIS      â”† 2211000   â”† 20977.229 â”† 1.0       â”† 1.0       â”† false     â”‚
â”‚            â”†            â”†            â”†           â”† 602       â”†           â”†           â”†           â”‚
â”‚ 13         â”† Bouches-du â”† MARSEILLE  â”† 851400    â”† 3538.3592 â”† 2.0       â”† 1.0       â”† false     â”‚
â”‚            â”† -RhÃ´ne     â”†            â”†           â”† 39        â”†           â”†           â”†           â”‚
â”‚ 69         â”† RhÃ´ne      â”† LYON       â”† 474900    â”† 9920.6183 â”† 3.0       â”† 1.0       â”† false     â”‚
â”‚            â”†            â”†            â”†           â”† 41        â”†           â”†           â”†           â”‚
â”‚ 31         â”† Haute-Garo â”† TOULOUSE   â”† 439600    â”† 3715.9763 â”† 4.0       â”† 1.0       â”† false     â”‚
â”‚            â”† nne        â”†            â”†           â”† 31        â”†           â”†           â”†           â”‚
â”‚ 06         â”† Alpes-Mari â”† NICE       â”† 344900    â”† 4795.6062 â”† 5.0       â”† 3.0       â”† false     â”‚
â”‚            â”† times      â”†            â”†           â”† 29        â”†           â”†           â”†           â”‚
â”‚ â€¦          â”† â€¦          â”† â€¦          â”† â€¦         â”† â€¦         â”† â€¦         â”† â€¦         â”† â€¦         â”‚
â”‚ 38         â”† IsÃ¨re      â”† GRENOBLE   â”† 156700    â”† 8643.1329 â”† 16.0      â”† 1.0       â”† false     â”‚
â”‚            â”†            â”†            â”†           â”† 29        â”†           â”†           â”†           â”‚
â”‚ 21         â”† CÃ´te-d'or  â”† DIJON      â”† 151600    â”† 3751.5466 â”† 17.0      â”† 1.0       â”† false     â”‚
â”‚            â”†            â”†            â”†           â”† 47        â”†           â”†           â”†           â”‚
â”‚ 49         â”† Maine-et-L â”† ANGERS     â”† 148400    â”† 3475.4098 â”† 18.0      â”† 1.0       â”† false     â”‚
â”‚            â”† oire       â”†            â”†           â”† 36        â”†           â”†           â”†           â”‚
â”‚ 974        â”† RÃ©union    â”† SAINT-DENI â”† 145022    â”† 1021.2816 â”† 19.0      â”† 2.0       â”† true      â”‚
â”‚            â”†            â”† S          â”†           â”† 9         â”†           â”†           â”†           â”‚
â”‚ 72         â”† Sarthe     â”† LE MANS    â”† 143500    â”† 2717.2883 â”† 20.0      â”† 1.0       â”† false     â”‚
â”‚            â”†            â”†            â”†           â”† 92        â”†           â”†           â”†           â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

---

## Round 7: The "Impossible with Pandas" - Streaming Large Data ğŸŒŠ

### Simulate processing a massive dataset

In [25]:
# Let's pretend we have yearly data files we need to process
# This would crash pandas on large files!

def process_year_data(year: int):
    """Simulate processing a year's worth of city data"""
    return (
        df_polars.lazy()
        .with_columns(pl.lit(year).alias('year'))
        .with_columns(
            # Simulate population growth
            (pl.col('population_2012') * (1 + (year - 2012) * 0.01)).cast(pl.Int32).alias('estimated_pop')
        )
        .group_by(['department', 'year'])
        .agg([
            pl.col('estimated_pop').sum().alias('dept_total'),
            pl.col('estimated_pop').mean().alias('dept_avg'),
            pl.len().alias('city_count')
        ])
    )

# Process multiple years and combine
all_years = pl.concat([
    process_year_data(year).collect() 
    for year in range(2012, 2025)
])

print("Multi-year department evolution:")
print(all_years.filter(pl.col('department').is_in(['75', '13', '69'])))  # Paris, Marseille, Lyon

Multi-year department evolution:
shape: (39, 5)
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ department â”† year â”† dept_total â”† dept_avg     â”† city_count â”‚
â”‚ ---        â”† ---  â”† ---        â”† ---          â”† ---        â”‚
â”‚ str        â”† i32  â”† i32        â”† f64          â”† u32        â”‚
â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 75         â”† 2012 â”† 2211000    â”† 2.211e6      â”† 1          â”‚
â”‚ 69         â”† 2012 â”† 1690700    â”† 5770.307167  â”† 293        â”‚
â”‚ 13         â”† 2012 â”† 1965400    â”† 16515.966387 â”† 119        â”‚
â”‚ 13         â”† 2013 â”† 1985054    â”† 16681.12605  â”† 119        â”‚
â”‚ 69         â”† 2013 â”† 1707607    â”† 5828.010239  â”† 293        â”‚
â”‚ â€¦          â”† â€¦    â”† â€¦          â”† â€¦            â”† â€¦          â”‚
â”‚ 13         â”† 2023 â”† 2181594    â”† 18332.722689 â”† 119        â”‚
â”‚ 69         â”† 2023 â”† 1876677    â”† 6405.040956  â”† 293        â”‚
â”‚ 13         â”† 2024 â”† 2201248    â”† 18497.882353 â”† 119        â”‚
â”‚ 69         â”† 2024 â”† 1893584    â”† 6462.744027  â”† 293        â”‚
â”‚ 75         â”† 2024 â”† 2476320    â”† 2.47632e6    â”† 1          â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

---

## Final Score: Performance Summary ğŸ†

In [26]:
print("=" * 50)
print("ğŸ PERFORMANCE COMPARISON SUMMARY ğŸ")
print("=" * 50)

comparisons = {
    'Data Loading': (pandas_load_time, polars_load_time),
    'Complex Analytics': (pandas_time, polars_time),
    'Window Functions': (pandas_window_time, polars_window_time),
    'Aggregations': (pandas_agg_time, polars_agg_time)
}

total_pandas = 0
total_polars = 0

for operation, (p_time, pl_time) in comparisons.items():
    speedup = p_time / pl_time
    total_pandas += p_time
    total_polars += pl_time
    print(f"{operation:20} | Pandas: {p_time:.3f}s | Polars: {pl_time:.3f}s | âš¡ {speedup:.1f}x faster")

print("-" * 50)
total_speedup = total_pandas / total_polars
print(f"{'TOTAL':20} | Pandas: {total_pandas:.3f}s | Polars: {total_polars:.3f}s | âš¡ {total_speedup:.1f}x faster")
print("=" * 50)

==================================================
ğŸ PERFORMANCE COMPARISON SUMMARY ğŸ
==================================================
Data Loading         | Pandas: 0.119s | Polars: 0.066s | âš¡ 1.8x faster
Complex Analytics    | Pandas: 0.004s | Polars: 0.001s | âš¡ 3.1x faster
Window Functions     | Pandas: 0.022s | Polars: 0.002s | âš¡ 8.9x faster
Aggregations         | Pandas: 0.009s | Polars: 0.001s | âš¡ 6.4x faster
--------------------------------------------------
TOTAL                | Pandas: 0.154s | Polars: 0.071s | âš¡ 2.2x faster
==================================================

---
## Bonus: Quick Migration Cheatsheet ğŸ“

In [ ]:
# Common patterns to remember:

# SELECTING
# Pandas: df[['col1', 'col2']]
# Polars: df.select(['col1', 'col2'])

# FILTERING
# Pandas: df[df['col'] > 5]
# Polars: df.filter(pl.col('col') > 5)

# ADDING COLUMNS
# Pandas: df['new'] = df['old'] * 2
# Polars: df.with_columns((pl.col('old') * 2).alias('new'))

# GROUPING
# Pandas: df.groupby('x').agg({'y': 'sum'})
# Polars: df.group_by('x').agg(pl.col('y').sum())

# JOINING
# Pandas: pd.merge(df1, df2, on='key')
# Polars: df1.join(df2, on='key')